:root {
  --background: white;
  --foreground: #4e545c;
  --primary-rgb: 32, 193, 236;    /* #20c1ec */
  --secondary-rgb: 31, 129, 168;  /* #1f81a8 */
  --accent-rgb: 41, 59, 84;       /* #293b54 */
  --brand-from: #20c1ec;
  --brand-to: #1f81a8;
  --brand-orange: #2b5976;
  --brand-blue: #1f81a8;
  --brand-purple: #343444;
  --brand-orange-dark: #544a5c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141b2b;
    --foreground: #d4d4d8;
    --primary-rgb: 32, 193, 236;    /* #20c1ec */
    --secondary-rgb: 31, 129, 168;  /* #1f81a8 */
    --accent-rgb: 41, 59, 84;       /* #293b54 */
    --brand-from: #20c1ec;
    --brand-to: #1f81a8;
    --brand-orange: #2b5976;
    --brand-blue: #1f81a8;
    --brand-purple: #343444;
    --brand-orange-dark: #544a5c;
  }
}
