:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #813fdc;
  --secondary: #9b6edbe1;
  --accent: #bac4d6;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #813fdc;
    --secondary: #9b6edbe1;
    --accent: #bac4d6;
  }
}

